.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* does not work for safari! */

/* smooth scroll may not be user friendly */

/* html { */

/*   scroll-behavior: smooth; */

/* } */

body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Mukta Malar', sans-serif;
}

/* -------------- Header: logo and menu ----------------------------- */

header {
  background-color: rgb(66, 81, 109);
  background-color: rgba(66, 81, 109, 0.45);

  /*  https://caniuse.com/css-sticky */

  position: fixed;
  top: 0;
  z-index: 2;
  height: 6vw;

  /* width: 100%; */
  width: calc(100% - 20vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  margin-bottom: -6vw;
  transition: background-color 0.3s;
}

.darken {
  background-color: rgb(66, 81, 109);
}

.logo img {
  height: 50px;
}

.main-menu {
  height: 100%;
}

.main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu ul,
.menu-item a {
  display: flex;
  align-items: center;
  height: 100%;
}

.menu-item {
  height: 100%;
}

.reserve-button a {
  color: white;
  text-decoration: none;
}

.menu-item a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 0 3vw;
}

.menu-item a:hover {
  background-color: #7ac8ff4a;
}

/* ---------------- slideshow  ----------------- */

.banner-image {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 25vw;
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 35px;
  text-shadow: 2px 2px #2c3863;
  letter-spacing: 2px;
}

.reserve-button {
  position: absolute;
  top: 33vw;
  right: calc(50% - 75px);
  width: 150px;
  padding: 10px 0;
  text-align: center;
  border-radius: 200px;
  background-color: #4c5bd0;
  box-shadow: 0 0 22px -1px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

/* ----------- Main  ---------------- */

main {
  width: 70vw;
  margin: 0 auto;
  padding: 60px 0 60px 0;
}

.main-content h1 {
  padding: 0;
  margin: 0 0 30px 0;
  line-height: 0;
}

/* don't worry, main has clearfix */
.main-content {
  width: 60%;
  float: left;
}

.main-image img {
  width: 30%;
  float: right;
}

/* ---------------- Trips count  ------------------ */

.trips-count {
  padding: 20px 0 20px 0;
  text-align: center;
  background-color: #245a74;
  color: white;
}

.trips-count .counter {
  font-size: 200px;
  line-height: 70px;
}

/* ------- Reserve a date  ---------------------- */

.reserve-container {
  text-align: center;
  padding: 120px 0 40px 0;
  background-color: #3fa5ff;
  color: white;
}

.datepicker {
  font-size: 20px;
  background-color: #3fa5ff;
  border: 0;
  border-bottom: 1px solid white;
  margin-right: 20px;
  color: white;
}

.day {
  font-size: 17px;
}

.datepicker::placeholder {
  color: #91daff;
}

.submit-dates {
  color: white;
  cursor: pointer;
  background-color: #66daff;
  padding: 10px 20px;
  font-size: 15px;
  border: 0;
}

/* ------- Image Gallery  ---------------- */

/* https://www.w3schools.com/howto/howto_css_flip_card.asp */

.gallery {
  width: 80vw;
  margin: 100px auto 0 auto;
  text-align: center;
}

.gallery-item {
  display: inline-block;

  /* milyen messze van a néző az objektumtól  */
  perspective: 1000px;
  cursor: pointer;
}

.gallery-item,
.front,
.back {
  width: 300px;
  height: 300px;
}

.front,
.back {
  /* rejtsük el az elemek hátoldalát (ha megfordulnak ne legyen látható a hátuljuk)
   https://www.w3schools.com/cssref/css3_pr_backface-visibility.asp */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5ec1fd;
  color: white;
}

.flipper {
  position: relative;
  transition: 0.6s;

  /* https://www.w3schools.com/cssref/css3_pr_transform-style.asp */
  transform-style: preserve-3d;
}

.front {
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
}

.gallery-item:hover .flipper {
  transform: rotateY(180deg);
}

.back-title {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.back-text {
  width: 80%;
  margin: 0 auto;
}

.back-price {
  margin-top: 20px;
  font-size: 40px;
}

footer {
  padding: 40px 0;
  background-color: #bbb;
  text-align: center;
  margin-top: 20px;
}
