body {
  background-color: #488ccd;
  font-family: 'Montserrat', sans-serif;
  width: 800px;
  color: white;
  /* alul fölül 0 a margó, jobbra balra pedig automatikus */
  margin: 0 auto;
  /* padding: belső margó, befelé tolja a tartalmat,
   * körbe 50 pixel*/
  padding: 50px;
}

.page-title {
  font-size: 50px;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main-menu {
  background-color: #284c80;
  padding: 0;
}

.main-menu-item {
  display: inline-block;
}

/* a .main-menu-item-en belüli a tag */
.main-menu-item a {
  text-decoration: none;
  margin-left: 20px;
  padding: 20px 0;
  color: rgb(188,248,255);
  display: block;
}

/* hover: ha a menüpont fölé visszük az egeret */
.main-menu-item a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.image-container {
  /* minden ebben az elemben lévő inline elemet középre igazít */
  text-align: center;
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

h1 {
  font-size: 35px;
  color: rgb(237,245,255);
  margin-bottom: 5px;
  margin-top: 100px;
}

.created-date {
  margin-bottom: 40px;
  font-style: italic;
  color: #284c80;
  font-size: 14px;
  margin-left: 10px;
}

/* egyszerre két elemet választunk ki */
.content-lead,
.content-body {
  line-height: 1.7;
}

.content-lead {
  font-size: 25px;
  margin-bottom: 40px;
}

.content-body {
  font-size: 18px;
}
